<section>
    <canvas id="canvas"></canvas>

    <span id="bouton-melange" onclick="initialisation('fusion')">
        Tableau aléatoire
    </span>

    <span id="bouton-melange" onclick="croissant('fusion')">
        Tableau croissant
    </span>

    <span id="bouton-melange" onclick="decroissant('fusion')">
        Tableau décroissant
    </span>

    <p>
        <span id="bouton-lancer"
            onclick="initialisation('fusion', document.getElementById('tableau').value)">
            Trier votre tableau
        </span>
        <input type="text" id="tableau" placeholder="[valeur1, valeur2,...]" value="[3,4,1,2]">
    </p>


    <script>
        $().ready(() => {
            setTimeout(
                initialisation('fusion'),
                500)
        }
        );
    </script>
</section>